<% category = Naturesoft::Articles::Category.where(id: params["cat_id"]).first %>
<% current_category = Naturesoft::Articles::Category.where(id: params["current_cat_id"]).first %>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-12 control-label" ><%= t(:parent_category) %> </label>
            <div class="col-md-12">
                <% category_selected = options_for_select([[category.name,category.id]],category.id) if !category.nil? %>
                <%= select_tag("params[cat_id]",
                  category_selected,
                  {
                    class: "select2-ajax",
                    "data-url": naturesoft_articles.select2_backend_categories_path,
                  }
                ) %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-12 control-label" ><%= t(:current_category) %> </label>
            <div class="col-md-12">
                <% current_category_selected = options_for_select([[current_category.name,current_category.id]],current_category.id) if !current_category.nil? %>
                <%= select_tag("params[current_cat_id]",
                  current_category_selected,
                  {
                    class: "select2-ajax",
                    "data-url": naturesoft_articles.select2_backend_categories_path,
                  }
                ) %>
            </div>
        </div>
    </div>
</div>