<li>
    <a href="#"><i class="icon-pencil6"></i> <span><%= t(:article) %></span></a>
    <ul>
        <li>
            <%= link_to t(:articles), naturesoft_articles.backend_articles_path %>
        </li>
        <li>
            <%= link_to t(:categories), naturesoft_articles.backend_categories_path %>
        </li>
    </ul>
</li>